.user-profile-container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 130px;
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-primary {
  background-color: #ff4500; /* Narıncı rəng */
  border: none;
}
.btn-primary:hover {
  background-color: #cc3700; /* Daha tünd narıncı */
  box-shadow: 0px 4px 8px rgba(255, 69, 0, 0.5); /* Kölgə effekti */
  transform: scale(1.05); /* Biraz böyümə effekti */
}
.favorite-categories {
  margin-top: 20px;
}

.favorite-categories ul {
  list-style: none;
  padding: 0;
}

.category-item .favBtn {
  background: #fff;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.category-item .favBtn:hover {
  background: #ff4500;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  display: flex;
  .category-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .category-option{
      width: 90px;
      
    }
  }
}


