* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}
a {
  font-weight: 500;
  text-decoration: none;
  color: black  ;
}

ul li {
  list-style: none;
}
p {
  margin-bottom: 10px !important;
}
.backHover{
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

.slick-next{
    right: -25px !important;
}
@media (max-width: 576px) {
 .slick-arrow{
  display: none  !important;
 }

 
}
